body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1;
}

form {
	display: grid;
	grid-template-columns: 0.75fr 3fr 0.5fr;
	gap: 5px;
}

textarea {
	background: transparent;
	border: none;
	resize: none;
	/* color: rgb(82, 82, 82);
	border-left: 10px solid rgb(82, 82, 82); */
	color: black;
	border-left: 10px solid black;
	padding: 10px;
	letter-spacing: 1px;
}

.jumbotron {
	text-align: center;
	background: linear-gradient(to right, #d63031, #6c5ce7);
	background-color: transparent;
	color: black;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	border-radius: 0;
	border-bottom: 10px solid rgb(82, 82, 82);
}

.description {
	white-space: pre-wrap;
}

.time-block {
	text-align: center;
	border-radius: 15px;
}

.row {
	white-space: pre-wrap;
	height: 80px;
	border-top: 1px solid white;
}

.hour {
	background-color: #ffeaa7;
	color: rgb(82, 82, 82);
	border-top: 1px dashed black;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 25px;
	font-weight: 500;
}

.past {
	background-color: #dfe6e9;
	border-radius: 15px;
	color: white;
}

.present {
	background-color: #d63031;
	color: white;
	border-radius: 15px;
}

.future {
	background-color: #55efc4;
	color: white;
	border-radius: 15px;
}

.saveBtn {
	border-left: 1px solid rgb(82, 82, 82);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #0984e3;
	color: white;
	font: bold;
}

.saveBtn i:hover {
	font-size: 30px;
	background-color: indigo;
	transition: all 0.2s ease-in-out;
}

#currentDay {
	color: limegreen;
	font-size: 1.8rem;
	font-weight: bold;
}
